*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

h1,h2,p{
    margin-top: 0px;
}

header{
    background-color: #2e354f;
    color: #FFF;
    display: flex;
    width: 100%;
    justify-content: center;
}

header h1  {
    width: 620px;
    padding: 40px;
    font-size: 36px;
    
   
    
    
}

.section1{
    background-color: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.section1items{
    width: 620px;
    border: 1px solid pink;
    padding: 20px;
}

img{
    width: 580px;
}

.section1 h2{
    font-size: 24px;
    color: #EF5839;
}

.section1 a{
    color: #EF5839;
}

.section1 a:hover,a:focus{
    color: #2e354f;
}

.section1 strong{
    color: #2e354f;
}

.section2{
   
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FFF;
    
}

.section2items{
    background-color: #2e354f;
    width: 620px;
 
    padding: 20px;
}

.section2 h2{
    color: #EF5839;
    font-size: 24px;
}


.section2 a{
    color: #EF5839;
}

.section2 a:hover,a:focus{
    color: aqua;
}

.section2 .inlinebaby{
    display: inline-block;
    text-align: center;
    padding: 20px;
    background: #FFF;
    margin-right: 20px;
    
}

.button1{
    color: #FFF;
    background-color: #EF5839;
}


.inlinebaby .button1:hover{
    color: #2e354f;
    background-color: #FFF;
}

